/* === 字体大小 === */
$font-size: 14px;
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 28px;


/* === 图标大小 === */
$icon-size: 16px;
$icon-size-s: 12px;
$icon-size-m: 20px;
$icon-size-l: 24px;
$icon-size-xl: 30px;
$icon-size-xxl: 40px;


/* === 间距大小定义 === */
$xs: 5px;
$s: 10px;
$m: 15px;
$l: 25px;
$xl: 35px;
$xxl: 50px;


/* === 底部导航栏高度 === */
$footer-height: 50px;

/* === 边框圆角 === */
$border-radius: 3px;
