// 主色
$primary: #32A8EE;
$primary-light: #5ac8fa;

// 辅助色
$success: #5ece0f;
$warning: #ffc600;
$danger: #d6071b;
$danger-light: #ff6c00;
$info: #00cdb7;
$cyan: #00DCCB;

// 文本颜色
$font-title: #1c2438;
$font-primary: #444;
$font-light: #888;
$font-lighter: #bbbec4;

// 页面背景色
$page_bg: #f9f9f9;

// 边框颜色
//$border: lighten(#dddee1, 5%);
$border: #f3f3f3;

// 分割线
$divider: #f3f3f3;

// 灰色
$gray: #D3DCE6;
$gray-light: #E5E9F2;
$gray-light-1: #f7f7f7;
$gray-light-2: #eee;
$gray-extra: #EFF2F7;

// 白色
$white: #ffffff;
$white-dark: #F9FAFC;


// 其它颜色
$red-1: #d9534f;
$red-2: #FF0000;

$blue-1: #20A0FF;
$blue-2: #58B7FF;
$blue-3: #58B7FF;
$blue-dark-1: #0066CC;
$blue-dark-2: #0066FF;

$orange-1: #FF5722;
$orange-2: #FF6633;
$orange-3: #E27A3F;
$orange-4: #edce8c;

$green-1: #18BA1D;
$green-2: #339900;
$green-3: #209C83;
$green-4: #339966;
$green-5: #61d232;
$green-6: #2ccdad;
$green-7: #3BC9B0;

$pink-1: #FF6666;
$pink-2: #FF3366;

$yellow-1: #f0ad4e;
$yellow-2: #FF9933;
$yellow-3: #ffc33c;
$yellow-4: #faf4e7;
$yellow-5: #f0bc48;
$yellow-6: #d5990d;

$black: #000;

$brown-1: #6a5200;

$purple: #CC33FF;

$transparent: rgba(0,0,0,0);
