.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
*.iml
**/*.iml
logs
**/logs
**/*.pid
**/*/*.mv.db
**/*/*.trace.db
attachments
**/*/application-vm.properties
dist
local.conf.js
package.lock.json
**/*/output
