.el-dialog__header {
  padding: 10px;
  line-height: normal;
  @include border(bottom);
}

.el-dialog__title{
  font-size: $font-size-m;
  line-height: normal;
}

.el-dialog__headerbtn{
  top: 10px;
  right: 10px;
}


.el-dialog__body{
  width: 100%;
  padding: 0;
  line-height: normal;
  clear: both;
}

// 表格通用
.table-dialog {
  .el-dialog__header{
    background: $primary;

    &>span,.el-dialog__close{
      color: $white;
    }
  }
  .page {
    margin: 10px 0;
  }
  .el-dialog__footer {
    //border-top: 1px solid #eee;
    width: 100%;
    display: inline-block;
  }
  .el-icon-search{
    position: relative;
    top: 5px;
    color: $primary;
    font-weight: 600;
    font-size: $m;
  }
  .el-form {
    .el-input {
      width: 35%;
      margin: 20px 0 5px 20px;
    }
  }
}
.el-dialog__footer{
  @include border(top);
}
// 导出
.export-dialog{
  .el-dialog__body {
    padding: 20px;
    width: auto;
    max-height: 360px;
    overflow-y: scroll;
  }
  .el-form-item__label{
    text-align: left;
    width: 100%;
  }
  .el-checkbox{
    width: 100%;

    &+.el-checkbox{
      margin-left: 0;
    }
  }
}
.form-dialog{
  .el-dialog__body{
    max-height: 450px;
    overflow-y: scroll;
  }
}
