// el-form-item ---------------------
.el-form-footer{
  padding-top: 15px;
  text-align: right;
}

.table-form {
  margin-top: 20px;

  .table-search {
    width: 260px;
  }
}
.el-icon-search{
  font-size: $font-size-m;
  color: $primary;
  position: relative;
  top: 7px;
  cursor: pointer;
}
