@import "~variables";

// ----------------------------------
// 导航容器
.sidebar-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  top: $topbar_height - 1px;
  overflow: hidden;
  width: $sidebar_width;
  background-color: $sidebar_right_bg;

  // 导航滚动条宽度为0
  &::-webkit-scrollbar {
    width: 0;
  }
}

.sidebar{
  float: left;
  height: 100%;
  overflow-y: auto;
  // 导航滚动条宽度为0
  &::-webkit-scrollbar {
    width: 0;
  }
}
.sidebar.sidebar-left{
  width: $sidebar_width;
  background-color: $sidebar_left_bg;
}


.sidebar.sidebar-right{
  width: $sidebar_width;
}
.sidebar-right .el-menu{
  background-color: $sidebar_right_bg !important;
  border: none;
}

// ----------------------------------
// 导航菜单样式
.sidebar-item a, .el-submenu__title {
  position: relative;
  display: block;
  padding: 15px 24px 15px 27px;
  color: $sidebar_left_color;
  letter-spacing: .025em;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  vertical-align: middle;
  @extend %text-wrapper;

  .sidebar-title{
    vertical-align: middle;
  }

  em{
    font-size: 18px;
    width: 1.7em;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    margin-top: -1px;
  }
}

.sidebar-item a:hover{
  background: $sidebar_left_active_bg;
  color: $white;
}


// 右侧导航样式调整
.el-menu-item.sidebar-item{
  height: auto;
  line-height: normal;
  padding: 0 !important;
  min-width: auto;

  a{
    color: $font-primary;
    padding-left: 20px;

    em{
      color: $font-primary;
      width: 1.4em;
    }

    &:hover{
      color: $font-primary;
      background: darken($sidebar_right_bg, 5%);
    }
  }
}

// /deep/ 用于scoped模式下修改第三方组件样式
.sidebar-item__sub /deep/ .el-submenu__title {
  height: auto;
  line-height: normal;
  padding: 15px 24px 15px 20px;

  .submenu-title{
    color: $font-primary !important;
    letter-spacing: .025em;
    font-weight: 400;

    em{
      color: $font-primary;
      width: 1.3em;
    }
  }

  .el-submenu__icon-arrow{
    margin-top: -5px;
  }
}

.sidebar-item__sub /deep/ .el-menu{
  background-color: $sidebar_right_bg;

  .sidebar-item a{
    padding-left: 46px;
  }
}

.sidebar-item__sub /deep/ .sidebar-item a{
  font-size: $font-size-s;
}

  // ----------------------------------
// 激活状态
.sidebar-item.active a{
  background-color: $sidebar_left_active_bg;
  color: $sidebar_left_active_color;
}

// 右侧菜单激活状态
.sidebar.sidebar-right .sidebar-item.active a{
  background: $white;
  color: $sidebar_right_active_color;

  em{color: $sidebar_right_active_color;}
}



// ----------------------------------
// 左侧导航收起按钮
.sidebar-left-collapse {
  position: fixed;
  bottom: 0;
  left: 0;
  width: $sidebar_width;

  padding: 10px 0;
  text-align: center;
  background-color: $sidebar_left_active_bg;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;

  a {
    color: $sidebar_left_color;
  }
}

.sidebar-left.sidebar-left-closed {
  width: $sidebar_collapse_width;

  .sidebar-title{
    display: none;
  }

  a{
    text-align: center;
    padding: 15px 0px;

    em{
      width: auto;
    }
  }

  .sidebar-left-collapse{
    width: $sidebar_collapse_width;
  }
}
